@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: "Poppins", sans-serif;
   
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 90%;
    margin: 50px auto;
}

nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div{
    display: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

nav li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

nav a:hover{
    opacity: 0.6;
    font-weight: 700;
}


/* banner section starts here */
.banner{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    gap: 20px;
}

.banner h2{
    font-size: 2rem;
    font-weight: 700;
}

.banner p{
    font-size: 0.9rem;
    font-weight: 700;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

i{
    margin-left: 10px;
}

.banner button{
    color: #fff;
    font-size: 1rem;
    background-color: rgb(224, 44, 109);
    border-radius: 41px;
    padding: 15px 30px;
    border: none;
}

.camera_container{
    position: relative;
}

.main_camera_bg{    
    width: 90%;
    opacity: 0.7;
}

.main_camera{
    width: 80%;
    position: absolute;
    top: 10%;
    right: 12%;    
}
/* banner section ends here */


/* brand logo section */

.brand_logo_section{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 10px;
    background: linear-gradient(135.00deg, rgba(226, 232, 238, 0.1) 0%,rgba(229, 232, 236, 0.6) 50.378%,rgba(215, 219, 224, 0.1) 100%);
}


/* popular collection section starts here */
.popular_collection{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid saddlebrown; */
}

.popular_collection h2{
    font-size: 2.5rem;
    color: orangered;
    margin-bottom: 40px;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    /* border: 1px solid saddlebrown; */
}

.card{
    width: 310px;
    /* height: 420px; */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    gap: 0;
}

.card img{
    width: 100%;
    margin-bottom: 10px;
}

.card h1{
    font-size: 1.5rem;
    font-weight: 800;
}

.card h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1px;
    margin-bottom: 5px;
}

.card p{
    font-size: 1rem;
    color: Gray ;
}

.card i{
    color: rgb(251, 130, 0);
    margin-right: 5px;
    margin-left: 3px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card  h1, h4, p{
    margin-bottom: 10px;
    padding-left: 5px;    
}

.see_more{
    position: absolute;
    right: 10%;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(224, 44, 109);
    text-decoration: none;
}
/* popular collection section ends here */


/* featured product section */
.featured_product_section{
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.featured_product_section p{
   color: rgb(108, 108, 108);
   font-size: 1rem;
   margin-top: 10px;
   margin-bottom: 20px;
}

.join_now_btn{
    color: #fff;
    font-size: 1rem;
    background-color: rgb(224, 44, 109);
    border-radius: 10px;
    padding: 12px 30px;
    border: none;
}

footer{
    width: 100%;
    background-color: rgb(10, 8, 38);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px 0;
    font-size: 1.2rem;
}


footer p{
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 0;
}

footer div{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}



/* responsive design for mobile device */

@media screen  and (max-width:576px) {

    nav ul {
        display: none;
    }

    nav div{
        display: block;
    }

    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }


    .brand_logo_section{
        /* grid-template-rows: repeat(2, 1fr); */
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 20px;
        
    }

    .brand_logo_section img{
        width: 90%;
    }

    .featured_product_section{
        flex-direction: column-reverse;
    }

    .featured_product_section img{
        width: 100%;
    }

    .card_container{        
        grid-template-columns: repeat(1, 1fr); 
        align-items: center;
        justify-content: center;    
    }
    .card{
        margin: auto;
    }
   
}